// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.big{
    float:left;
    padding-right: 20px;
}
.big div{
    border: 1px solid rgb(255, 255, 255);
    width:100px;
    padding-bottom: 20px;
}
.big div button{
    width:100px;
    height:100px;
    background-color: black;
    color:white;
}
.deletor{
    width:100px;
    height:100px;
    background-color: black;
    color:white;
    margin-top:400px;
    margin-left:600px;
}
.deletor button{
    width:100px;
    height:100px;
    background-color:red;
    color:rgb(0, 0, 0);
}
.main{
    margin-left:500px;
    margin-top:100px; 
    border: 1px solid rgb(255, 252, 252);

}