<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        

  <div class="main">
    <div class="big">
      <div>
        <button (click)="change()" [ngClass]= "{ng: tmr }">Play/Puase</button>
      </div>
      <div>
        <button (click)="change1()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change2()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change3()">Play/Puase</button>
      </div>
    </div>
    <div class="big">
      <div>
        <button (click)="change4()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change5()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change6()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change7()">Play/Puase</button>
      </div>
    </div>
    <div class="big">
      <div>
        <button (click)="change8()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change9()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change10()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change11()">Play/Puase</button>
      </div>
    </div>
    <div class="big">
      <div>
        <button (click)="change12()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change13()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change14()">Play/Puase</button>
      </div>
      <div>
        <button (click)="change15()">Play/Puase</button>
      </div>
    </div>
    <div class="deletor">
      <button class="button" (click)="deleteAll()"><p>Pause all</p></button>
    </div>
  </div>
</ion-content>